.DS_Store
.idea/
.vscode/
*.pyc
__pycache__/
~$
BasicLab1/example/
BasicLab2/example/
venv/
*.pptx
main.py
terms_checker.py
BasicLab2/skeleton/lab2-1/text/
BasicLab2/skeleton/lab2-2/text/
run.php
score.txt
test.py
log.txt